.idea/
cmake-build-*/
.DS_Store
/test/tmp/
/test/data/codegen/graphs/graph-dataset-small/
dump_test_*
*soc-LiveJournal1.txt*
pagerank_benchmarks.csv
.cmake/
.vscode/
libeinsum_lib.dylib
libparser_lib.a
ugasta
driver.cpp
*.cmake
CMakeCache.txt
CMakeFiles/
F.cc
Makefile
Testing/
_deps/
build/
compile_commands.json
einsum_taco.cbp
grammar.txt
main.cc
main.output
parser_exec
test/CMakeFiles/
test/Makefile
tok.h